<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
	<head>
		
		<title>Stock photos, royalty-free images &amp; video clips | iStock</title>

			<link rel="stylesheet" media="all" href="/css/main.css" debug="false" />
			<meta charset="utf-8" />
			<!-- <link type="text/css" rel="stylesheet" href="/css/search_by_image-99d433b7c5951c0316682b5a675b7b5908ae652d752774c42b079e6c09443464.css" /> -->

   </head>
   
   <body class="home_container home-fancy">
   
  <!--  <script src="//d3cxv97fi8q177.cloudfront.net/mediasource-A218913-dc0b-43b5-92cf-b5abffdabaa21-c-4205.js" async="" type="text/javascript"></script> -->
   
   <div class="content_wrapper">
   
   <div id="header-wrapper">
   
      <header class="full_header" id="site-header"> 
  
   
   <div   class="site-width">  
   
    <nav  class="categories wide-header">
   
   <ul  class="nav-root nju">
   
   <li>
   
   <a  href="/">Home</a>
          
   
   </li>
   
   <li>
   
   <a  href="/">Why Us</a>
   
   </li>
   
   <li>
   
   <a  href="#">Occasions</a>
    <ul>
      <li><a href="/photos">Birthdays</a></li>
      <li><a href="/photos">Anniversary</a></li>
      <li><a href="/photos">Kitty</a></li>
      <li><a href="/photos">Engangment</a></li>
      <li><a href="/photos">Bachelorate</a></li>
        </ul>
   </li>
   
 </ul>
 
 </nav> 
 
  <nav class="categories thin-header left-off-canvas-toggle-menu">
   
   <figure class="burger">
   
   <img class="rest-state" src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#hamburger-icon-mono" viewbox="0 0 100 100" />
   <img class="hover-state" src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#hamburger-icon" viewbox="0 0 100 100" />
   </figure>
   </nav> 
   
   
   <section class="logo wide-header">
  <a data-nav="nav=head_Logo" href="/in">
  
  <img src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#istock-logo" viewbox="0 0 100 100" />
  </a>
  
  </section> 
  
 <section class="logo thin-header">
  
  <a data-nav="nav=head_Logo" href="/in">
  
<img src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#istock-logo" viewbox="0 0 100 100" />
  
  </a>
  
  </section> 
  
	  <nav class="actions"><div><ul class="actions-list">
<!-- 	  <li class="icon-only boards-icon" id="open_board">
	  <a href="/in/collaboration/boards/default" target="_self" title="View or edit Board.">
	  
	  <span alt="Your Board" class="icon"><span class="icon-active"></span>
	  
	  <span class="icon-hover"></span></span><span class="action-label">Your Board </span>
	  
	  <span class="favorites-count"></span></a>
	  
	  </li> -->
	  
	  <li class="pricing"><a data-nav="nav=nav_Pricing" href="/register">Contacts For Booking</a></li>
	  
	  
	  <li class="divider light"></li><li class="thin-header right-off-canvas-toggle-menu" data-istock-user-id=""><figure class="account">
	  
	  <img class="rest-state" src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#account-icon-mono" viewbox="0 0 100 100" />
	  <img class="hover-state" src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#account-icon" viewbox="0 0 100 100" /></figure>
	  
	  </li><li class="wide-header"><a class="account" data-nav="nav=nav_SignIn" href="#" login-link="">9718XXXXXX</a></li>
	  
	  <li class="wide-header"><a class="account" data-nav="nav=nav_Join" href="#">9718XXXXXX</a></li></ul></div>
	  
	  </nav>
  
<!--   <div class="off-canvas-menu right"><div class="close-panel"><figure class="general-icon-slider-close"></figure></div><ul>
  
  <li><a data-nav="nav=nav_SignIn" href="/in/sign-in?returnurl=%2Fin%2F" login-link="">Sign in</a></li><li><a data-nav="nav=nav_Join" href="/in/join">Join</a></li>
  
  <li class="mobile"><a data-nav="nav=nav_Pricing" href="/in/plans-and-pricing">Contacts Us</a></li></ul>
  
  </div> -->
  
<!--   <div class="off-canvas-menu left"><div class="close-panel"><figure class="general-icon-slider-close"></figure>
  
  </div><ul class="side-menu"><li><a data-nav="nav=nav_Photos" href="/in/stock-photos" target="_self">Home</a></li>
  
  <li><a data-nav="nav=nav_Illustrations" href="/in/stock-illustrations" target="_self">Why Us</a></li>
  
  <li><a data-nav="nav=nav_Video" href="/in/footage" target="_self">Occasions</a></li>
  
  </ul>
  
  </div> -->
  
  </div>
  
  </header>
  </div>
  

   <section class="main_body"><div class="site-width">

   <section class="hero" id="hero-feature" style="background-image: url(&quot;/images/temple.jpg&quot;); background-color: rgb(163, 118, 87); height: 700px;">
   
<!--    <div class="searchbar-centering-container">
   
   
   <div class="is-home-search-container ng-isolate-scope docked" float-area=".searchbar-centering-container" is-home-search-container="" style="top: 108.5px;"><div gi-remote-app="'giSearchByImage'" gi-remote-manifest="'/json/manifest.json'"><div ng-non-bindable=""><div class="giSearchByImage-container ng-scope">
   
   
   <div class="search-by-image-modal" sbi-error="false" sbi-modal=""><div class="sbi-bounce-wrapper"><div class="sbi-bounce-loader"><div class="first-bounce"></div><div class="second-bounce"></div><div class="third-bounce"></div></div>
   
   
   <div class="uploading-text">Uploading...</div></div><div class="overlay" ngf-drop="dragDropOutsideModal()"></div><div class="modal-wrapper"><div class="close-icon"></div><div class="modal-content" ng-class="{'showing-error': errors.showDimensionError || errors.showFileSizeError || errors.showFileTypeError || errors.showGenericError }">
   
   
   <h2>Search by image</h2><p>Choose any of the methods below to start your search.</p>
   
   
   
   <div class="error-bar ng-hide" ng-show="errors.showDimensionError">Please upload an image with a height or width smaller than 4000px.</div><div class="error-bar ng-hide" ng-show="errors.showFileSizeError">Please upload an image less than 5MB in file size.</div>
   
   
   <div class="error-bar ng-hide" ng-show="errors.showFileTypeError">Please upload a JPG or PNG image.</div><div class="error-bar ng-hide" ng-show="errors.showGenericError">Sorry something went wrong. Please try again.</div>
   
   
   <div class="grey-box ng-pristine ng-untouched ng-valid" ng-model="file" ngf-allow-dir="false"  ngf-model-invalid="fileErrors" ngf-pattern="'.jpg,.png,.jpeg,image/jpeg,image/png'" ngf-resize="{width:600}" ngf-resize-if="$width > 600">
   
   
   <div class="drag-drop-icon"></div>
   
   
   <div class="main-callout">Drag and drop</div>
   
   <div class="secondary-callout">your image anywhere here</div>
   
   
   <div class="alternate-choice">or</div><a accept=".jpg,.png,.jpeg" class="file-selector ng-pristine ng-untouched ng-valid" ng-model="file" ngf-allow-dir="false"  ngf-pattern="'.jpg,.png,.jpeg'" >Choose a file</a></div>
   
   
   <p class="restrictions">Your JPG or PNG image can't be larger than 4000px in width and height, and must be smaller than 5MB in file size.</p>
   
   
   </div></div></div>
   
</div></div></div>

<div class="search-bar" data-autosuggest-from="https://as.gettyservices.com:443/GettyImages.Autocomplete.KeywordService.Service/KeywordService1/Suggestedkeywords/{0}/{1}/{2}/{3}/{4}?usePopularity=true" gi-search-box-istock="">

<fieldset><form action="/search/2/image" class="search-bar__form ng-pristine ng-valid" method="GET" onsubmit="return false"><div class="search-bar__main-area"><button class="search-bar__submit">


<img src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#search-icon" viewbox="0 0 100 100" /></button><div class="search-bar__input search-input">


<input autocomplete="off" class="non-default phrase" data-autosuggest-from="https://as.gettyservices.com:443/GettyImages.Autocomplete.KeywordService.Service/KeywordService1/Suggestedkeywords/{0}/{1}/{2}/{3}/{4}?usePopularity=true" id="search-phrase" name="phrase" placeholder="Find the perfect stock photos, vectors and more…" type="text" />


<div class="search-bar__autosuggest suggestions-container" id="suggestions-container-search-phrase" style="display: none;">

<ul id="suggestions-list-search-phrase" class="suggestions-list"></ul></div></div><div class="search-bar__clear"><a class="search-clear-icon">

<img src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#clear-icon" viewbox="0 0 100 100" /></a></div>


<div class="search-bar__camera shown"><a class="search-camera-icon" title="Search by image">

<img src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#camera-icon-sbi" viewbox="0 0 100 100" /></a></div>


</div>

<section class="search-bar__istock-media-filter" data-type-selected="images"><div class="media-filter-label">


<span class="text images-selected">Images</span><span class="text photos-selected">Photos</span>


<span class="text illustrations-selected">Illustrations</span><span class="text video-selected">Video</span>

<span class="arrow-icon down"></span></div><div class="media-types"><ul><li class="option no-border" data-value="images"><span>


<img class="checkbox-display" src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#checkmark-icon" viewbox="0 0 100 100" /></span><label for="category-images">Images</label></li><li class="option sub-label" data-value="photos"><span>


<img class="checkbox-display" src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#checkmark-icon" viewbox="0 0 100 100" /></span><label for="image-photos">Photos</label></li><li class="option sub-label" data-value="illustrations"><span>

<img class="checkbox-display" src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#checkmark-icon" viewbox="0 0 100 100" /></span><label for="image-illustrations">Illustrations</label></li><li class="option" data-value="video"><span>


<img class="checkbox-display" src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#checkmark-icon" viewbox="0 0 100 100" /></span><label for="category-video">Video</label></li></ul></div>


</section>
</form>
</fieldset>

</div>
</div>
</div> -->

</section>


<section class="landing-tiles">
</section>
</div>
</section>
</div>


<footer class="full_footer floating_footer" id="footer"></footer>
<!-- script src="/js/application-082825169b8caac5f9e0e44bf6cc93c0fe227ab0befcd7e032022553dd85c1d7.js"></script-->
<!-- script src="/js/header.js?ts=1511175746.2298834" async="async"></script-->


<!-- <style>.ng-hide { display: none !important; }</style> -->

</body>
</html>