<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<title>Stock Photos, Pictures and Royalty-Free Images | iStock  India</title>


		<link rel="stylesheet" media="all" href="/css/main.css" debug="false" />
			<meta charset="utf-8" />

</head>

<body class="front_door_container stock-photos ng-scope" >
<div class="content_wrapper">

   <div id="header-wrapper">
   
      <header class="full_header" id="site-header"> 
  
   
   <div   class="site-width">  
   
    <nav  class="categories wide-header">
   
   <ul  class="nav-root nju">
   
   <li>
   
   <a  href="/">Home</a>
          
   
   </li>
   
   <li>
   
   <a  href="/">Why Us</a>
   
   </li>
   
   <li>
   
   <a  href="#">Occasions</a>
    <ul>
      <li><a href="/photos">Birthdays</a></li>
      <li><a href="/photos">Anniversary</a></li>
      <li><a href="/photos">Kitty</a></li>
      <li><a href="/photos">Engangment</a></li>
      <li><a href="/photos">Bachelorate</a></li>
        </ul>
   </li>
   
 </ul>
 
 </nav> 
 
  <nav class="categories thin-header left-off-canvas-toggle-menu">
   
   <figure class="burger">
   
   <img class="rest-state" src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#hamburger-icon-mono" viewbox="0 0 100 100" />
   <img class="hover-state" src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#hamburger-icon" viewbox="0 0 100 100" />
   </figure>
   </nav> 
   
   
   <section class="logo wide-header">
  <a data-nav="nav=head_Logo" href="/in">
  
  <img src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#istock-logo" viewbox="0 0 100 100" />
  </a>
  
  </section> 
  
 <section class="logo thin-header">
  
  <a data-nav="nav=head_Logo" href="/in">
  
<img src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#istock-logo" viewbox="0 0 100 100" />
  
  </a>
  
  </section> 
  
	  <nav class="actions"><div><ul class="actions-list">
<!-- 	  <li class="icon-only boards-icon" id="open_board">
	  <a href="/in/collaboration/boards/default" target="_self" title="View or edit Board.">
	  
	  <span alt="Your Board" class="icon"><span class="icon-active"></span>
	  
	  <span class="icon-hover"></span></span><span class="action-label">Your Board </span>
	  
	  <span class="favorites-count"></span></a>
	  
	  </li> -->
	  
	  <li class="pricing"><a data-nav="nav=nav_Pricing" href="/register">Contacts For Booking</a></li>
	  
	  
	  <li class="divider light"></li><li class="thin-header right-off-canvas-toggle-menu" data-istock-user-id=""><figure class="account">
	  
	  <img class="rest-state" src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#account-icon-mono" viewbox="0 0 100 100" />
	  <img class="hover-state" src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#account-icon" viewbox="0 0 100 100" /></figure>
	  
	  </li><li class="wide-header"><a class="account" data-nav="nav=nav_SignIn" href="#" login-link="">9718XXXXXX</a></li>
	  
	  <li class="wide-header"><a class="account" data-nav="nav=nav_Join" href="#">9718XXXXXX</a></li></ul></div>
	  
	  </nav>
  
<!--   <div class="off-canvas-menu right"><div class="close-panel"><figure class="general-icon-slider-close"></figure></div><ul>
  
  <li><a data-nav="nav=nav_SignIn" href="/in/sign-in?returnurl=%2Fin%2F" login-link="">Sign in</a></li><li><a data-nav="nav=nav_Join" href="/in/join">Join</a></li>
  
  <li class="mobile"><a data-nav="nav=nav_Pricing" href="/in/plans-and-pricing">Contacts Us</a></li></ul>
  
  </div> -->
  
<!--   <div class="off-canvas-menu left"><div class="close-panel"><figure class="general-icon-slider-close"></figure>
  
  </div><ul class="side-menu"><li><a data-nav="nav=nav_Photos" href="/in/stock-photos" target="_self">Home</a></li>
  
  <li><a data-nav="nav=nav_Illustrations" href="/in/stock-illustrations" target="_self">Why Us</a></li>
  
  <li><a data-nav="nav=nav_Video" href="/in/footage" target="_self">Occasions</a></li>
  
  </ul>
  
  </div> -->
  
  </div>
  
  </header>
  </div>
  
  

<section class="main_body">
<div class="site-width">

<section style="background-image: url(/images/01_Photo_FTLP_Hero_2000x450.jpg)" class="static-hero"><h1>Browse stock photos and royalty-free images</h1>
<p>Find the perfect stock photography from our collection of premium stock images</p>
<div class="hero-content">
<div class="hero-details"><a href="#">#39758696</a>
</div>
</div>
</section>

<section class="fancy-grid">
	<div class="clipper">
		<article gi-landing-tile="">
			<a style="background-image: url(/images/photos/img_49675870.jpg); background-position: center center;" data-h-position="center" data-v-position="center" data-src="/resources/images/PhotoFTLP/img_49675870.jpg" data-isource="enus_PhotoFTLP_TopRowTile1_Couple" class="active" href="/in/collaboration/boards/Q-iON4BziUSyr07yL6OZeg">
				<figure>
					<img alt="Couple photos" src="/resources/images/PhotoFTLP/img_49675870.jpg" />
						<figcaption>Couple Photos</figcaption>
					</figure>
				</a>
				<div>
					<a href="#">#49675870</a>
				</div>
			</article>
			<article gi-landing-tile="">
				<a style="background-image: url(/images/photos/img_56294368.jpg); background-position: center center;" data-h-position="center" data-v-position="center" data-src="/resources/images/PhotoFTLP/img_56294368.jpg" data-isource="enus_PhotoFTLP_TopRowTile2_Intimacy" class="active" href="/in/collaboration/boards/nkuPfBaKYEKQ31s-d7K5KQ">
					<figure>
						<img alt="Intimacy photos" src="/resources/images/PhotoFTLP/img_56294368.jpg" />
							<figcaption>Intimacy Photos</figcaption>
						</figure>
					</a>
					<div>
						<a href="#">#56294368</a>
					</div>
				</article>
				<article gi-landing-tile="">
					<a style="background-image: url(/images/photos/img_11659399.jpg); background-position: center center;" data-h-position="center" data-v-position="center" data-src="/resources/images/PhotoFTLP/img_11659399.jpg" data-isource="enus_PhotoFTLP_TopRowTile3_Woman" class="active" href="/in/collaboration/boards/pjarNH7fMEejAEh99U7r9A">
						<figure>
							<img alt="Woman photos" src="/images/photos/img_11659399.jpg" />
								<figcaption>Woman Photos</figcaption>
							</figure>
						</a>
						<div>
							<a href="#">#11659399</a>
						</div>
					</article>
					<article gi-landing-tile="">
						<a style="background-image: url(/images/photos/img_20642699.jpg); background-position: center center;" data-h-position="center" data-v-position="center" data-src="/resources/images/PhotoFTLP/img_20642699.jpg" data-isource="enus_PhotoFTLP_TopRowTile4_Femininity" class="active" href="/in/collaboration/boards/lkByXmJBiki3Pf--z2D7kg">
							<figure>
								<img alt="Femininity photos" src="/resources/images/PhotoFTLP/img_20642699.jpg" />
									<figcaption>Femininity Photos</figcaption>
								</figure>
							</a>
							<div>
								<a href="#">#20642699</a>
							</div>
						</article>
					</div>
</section>


<section class="fancy-grid">
	<div class="clipper">
		<article gi-landing-tile="">
			<a style="background-image: url(/images/photos/img_37800314.jpg); background-position: center center;" data-h-position="center" data-v-position="center" data-src="/resources/images/PhotoFTLP/img_37800314.jpg" data-isource="enus_PhotoFTLP_Row2Tile1_Expansive" class="active" href="/in/collaboration/boards/xmZhLPHOJEOCV8YNd4AeBw">
				<figure>
					<img alt="Expansive photos" src="/images/photos/img_37800314.jpg" />
						<figcaption>Expansive Photos</figcaption>
					</figure>
				</a>
				<div>
					<a href="#">#37800314</a>
				</div>
			</article>
			<article gi-landing-tile="">
				<a style="background-image: url(/images/photos/img_42272908.jpg); background-position: center center;" data-h-position="center" data-v-position="center" data-src="/resources/images/PhotoFTLP/img_42272908.jpg" data-isource="enus_PhotoFTLP_Row2Tile2_Liberation" class="active" href="/in/collaboration/boards/g2Fke5bJy0-He4_A9FT4Qw">
					<figure>
						<img alt="Liberation photos" src="/resources/images/PhotoFTLP/img_42272908.jpg" />
							<figcaption>Liberation Photos</figcaption>
						</figure>
					</a>
					<div>
						<a href="#">#42272908</a>
					</div>
				</article>
				<article gi-landing-tile="">
					<a style="background-image: url(/images/photos/img_24610225.jpg); background-position: center center;" data-h-position="center" data-v-position="center" data-src="/resources/images/PhotoFTLP/img_24610225.jpg" data-isource="enus_PhotoFTLP_Row2Tile3_Perspective" class="active" href="/in/collaboration/boards/JejJgRv8fES_1XDR0pAcmQ">
						<figure>
							<img alt="Perspective photos" src="/resources/images/PhotoFTLP/img_24610225.jpg" />
								<figcaption>Perspective Photos</figcaption>
							</figure>
						</a>
						<div>
							<a href="#">#24610225</a>
						</div>
					</article>
				</div>
			</section>


</div>
</section>

</div>


<div class="plans-and-pricing-ribbon">Incredible stock. Flexible pricing. <a href="#">Buy credits or subscribe today.</a>
</div>
</body>
</html>