<html class="en-us   
js flexbox flexboxlegacy canvas canvastext no-touch rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients csstransitions fontface generatedcontent video localstorage sessionstorage no-display-runin boxsizing lastchild targetselector" lang="en-IN" prefix="og: http://ogp.me/ns#">
<head>
		<title>Register | iStock</title>
		<link rel="stylesheet" media="all" href="/css/sign-in_assets_istock.css" debug="false" />
		<meta charset="utf-8" />
</head>
<body class="basic_registrations_container ng-scope" ng-app="SignInApp">
<section class="background-image" style="background-image: url(/images/607754736-desktop.jpg); background-color: #FBF9EC;">
<div class="fade-out" style="background-color: rgb(251, 249, 236); opacity: 0;"></div>
</section>
<section class="hero-details"><a href="/vector/seamless-feathers-pattern-gm589551276-101275503">589551276, miakievy</a>
</section>
<div class="content_wrapper"><div id="header-wrapper"></div>
<section class="main_body"><div class="site-width"><article class="basic_register_form">
<div class="logo">
<div class="clickable"><a href="http://www.istockphoto.com/in">
<img src="/svg/istock_global-d7e401f19e6c19a9675205710664aae57336b66879fca2e2f55bdd926ea590f1.svg#istock-logo" alt="Istock global" /></a>
</div>
</div>
<form autocomplete="off" novalidate="novalidate" name="register" ng-model-options="{ updateOn: 'blur' }" submit-on-valid="" class="new_register ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength ng-valid-minlength ng-valid-confirmed-by" id="new_register" action="#" accept-charset="UTF-8" method="post">
	<input value="/" type="hidden" name="register[returnurl]" id="register_returnurl" autocomplete="off" />
		<fieldset>
			<ol ng-controller="BasicRegistrationController" ng-init="init('IND')" class="ng-scope">

									<li>
					<label for="register_email">Name:</label>
					<input placeholder="Full Name" email-existence="" ng-model="register['email']" required="required" pattern="(^([^@\s\074\076]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$)(?!(\r|\n))" maxlength="40" size="40" type="text" name="register[email]" id="register_email" class="ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" />
					</li>
					
												<li>
								<label for="register_country_code">Country</label>
								<select ng-change="onCountrySelection(register.countryCode)" class="country_code ng-pristine ng-untouched ng-valid ng-valid-required" ng-model-options="{ updateOn: 'default'}" ng-model="register['countryCode']" required="required" ng-init="register['countryCode'] = 'IND'" name="register[country_code]" id="register_country_code">
									<option value="">Select Occasion...</option>
									<option value="AFG">Birthdays</option>
									<option value="ALB">Anniversary</option>
									<option value="DZA">Kitty</option>
									<option value="ASM">Engangment</option>
									<option value="ALA">Bachelorate</option>
								</select>
							</li>
							
											<li>
					<label for="register_email">Email:</label>
					<input placeholder="Email address" email-existence="" ng-model="register['email']" required="required" pattern="(^([^@\s\074\076]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$)(?!(\r|\n))" maxlength="40" size="40" type="text" name="register[email]" id="register_email" class="ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" />
					</li>
					<li>
						<label for="register_password">Contact</label>
						<input placeholder="Contact Number"  required="required" minlength="8" maxlength="40"  size="40" type="text" name="register[password]" id="register_password" class="ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-maxlength ng-valid-confirmed-by" />
						</li>

								</ol>
								<fieldset>
									<button name="button" type="submit" id="register-button" ng-disabled="disableSubmitButton">Submit Details</button>
								</fieldset>
		</fieldset>
			</form>
</article>
<iframe frameborder="0" height="1" scrolling="no" src="https://www.istockphoto.com/logo1.html?m=107800&amp;s=0AF000C9F2DB0AF0030E01BC5A369210" width="1">&lt;img height="1" src="https://www.istockphoto.com/logo1.gif?m=107800&amp;amp;s=&amp;#39;0AF000C9F2DB0AF0030E01BC5A369210&amp;#39;" width="1" /&gt;</iframe>
</div></section></div>
<footer class="minimal_footer" id="footer"><p class="copyright">©2017 iStockphoto LP. <span>The iStock design is a trademark of iStockphoto LP.
</span></p>
</footer>



<div style="display: none;">
</div>
</body></html>